<a href="https://colab.research.google.com/github/tsrira/pe_repository/blob/main/PythonPreCamp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##
1. Setup and Basic Operations:
● Install and set up Python.
● Use print() and input() functions.
● Assign values to variables and explore different data types.
##

In [1]:
x=5
y=11.6
z="hi"
is_python_func = True

# print values and types
print("x:", x,"type:",type(x))
print("y:", y,"type:",type(y))
print("z:", z,"type:",type(z))
print("is_python_func:", is_python_func,"type:",type(is_python_func))

x: 5 type: <class 'int'>
y: 11.6 type: <class 'float'>
z: hi type: <class 'str'>
is_python_func: True type: <class 'bool'>

In [ ]:
a=10
b=3.5

In [ ]:
print("Addition:", a+b)
print("Subtraction:", a-b)
print("Multiplication:", a*b)
print("Division:", a/b)
print("Floor Division:", a//b)
print("Modulus:", a%b)
print("Exponent:", a**2)

Addition: 13.5
Subtraction: 6.5
Multiplication: 35.0
Division: 2.857142857142857
Floor Division: 2.0
Modulus: 3.0
Exponent: 100

In [ ]:
string = "Python Programming"
print("Upper Case: ", string.upper())
print("Lower Case: ", string.lower())
print("Swap Case: ", string.swapcase())
print("Title Case: ", string.title())
print("Capitalize: ", string.capitalize())
print("Replace:", string.replace("Python", "Advanced Python"))
print("Split:", string.split())
print("Concatenation:", string + " " + "is fun")
print("Repetition:", string * 2)

#

Upper Case:  PYTHON PROGRAMMING
Lower Case:  python programming
Swap Case:  pYTHON pROGRAMMING
Title Case:  Python Programming
Capitalize:  Python programming
Replace: Advanced Python Programming
Split ['Python', 'Programming']
Concatenation Python Programming is fun
Repetition Python ProgrammingPython Programming

In [ ]:
my_tuple = (1,2,3,4,5)
print("Original tuple:", my_tuple)
print("First element:", my_tuple[0])
print("Last element:", my_tuple[-1])
print("Slice:", my_tuple[1:4])

Original tuple: (1, 2, 3, 4, 5)
First element: 1
Last element: 5
Slice: (2, 3, 4)

In [ ]:
my_set = {1,2,3,4,5,2,4}
print("Original set:", my_set)
my_set.add(6)
print("After adding 6:", my_set)
my_set.remove(3)
print("After removing 3:", my_set)

Original set: {1, 2, 3, 4, 5}
After adding 6: {1, 2, 3, 4, 5, 6}
After removing 3: {1, 2, 4, 5, 6}

In [ ]:
my_dict = {"name": "John","name":"John", "age": 30, "city": "New York"}
print("Original dictionary:", my_dict)
print("Name:", my_dict["name"])
print("Age:", my_dict["age"])
my_dict["age"] = 31
print("After updating age:", my_dict)
del my_dict["city"]
print("After deleting city:", my_dict)
my_dict["my country"] = "USA"
print("After adding country:", my_dict)

Original dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}
Name: John
Age: 30
After updating age: {'name': 'John', 'age': 31, 'city': 'New York'}
After deleting city: {'name': 'John', 'age': 31}
After adding country: {'name': 'John', 'age': 31, 'my country': 'USA'}

In [ ]:
num=0
if num>0:
  print("Positive Value")
elif num<0:
  print("Negative Value")
else:
  print("Zero")

Zero

In [ ]:
def check_even_odd(n):
  if n%2==0:
    return "Even"
  else:
   return "Odd"
print("Number 7 is:", check_even_odd(7))
print("Number 8 is:", check_even_odd(8))

Number 7 is: Odd
Number 8 is: Even

In [ ]:
for i in range(1,5):
  print(i)

1
2
3
4

In [ ]:
count = 0
while count < 5:
  print(count)
  count += 1

0
1
2
3
4

In [ ]:
def power(base, exp=2):
  return base**exp
print("2^2:", power(2))
print("3^3:", power(3,3))

2^2: 4
3^3: 27

In [ ]:
times_two = lambda x: x*2
print("Lamda output 5*2:", times_two(5))

Lamda output 5*2: 10

In [ ]:
sum_number = lambda x,y: x+y
print("Lamda output 5+6:", sum_number(5,6))

Lamda output 5+6: 11

In [ ]:
message = "Python is powerful and easy to learn"
print("Length of the string: ", len(message))
print("substring is:", "powerful" in message)
print("slice it:", message[0:3])
print("reverse:", message[::-1])
print("slice it:", message[0:3][::-1])
print(message.index("powerful"))
print(message.count("e"))
print(message.replace("Python", "Advanced Python"))

Length of the string:  36
substring is: True
slice it: Pyt
reverse: nrael ot ysae dna lufrewop si nohtyP
slice it: tyP
10
3
Advanced Python is powerful and easy to learn